<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股票价值提醒</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script type="text/javascript" src="static/script.js" defer></script>
</head>

<body>
    <a href="https://fangxuetao.com/tool">日常工具</a>
    <h2><a id="title" href="">股票价值提醒</a></h2>
    <form action="?option=new" method="POST">
        <label for="ticker"></label>
        <input type="text" name="ticker">
        <button onclick="updateResult()">更新</button>
        <div class="small-font">
            输入：股票代码（例：600036），点击更新新增。
            <br>
            输入：3>1，点击更新，序号 3 移动至序号 1。
        </div>
    </form>
    <br>
    <div class="small-font">
        A 股数据：<a href="https://gu.qq.com/sh600036/gp">PE（TTM）腾讯证券</a>、<a
            href="https://www.jisilu.cn/data/stock/600036">五年平均 ROE 股息（集思录</a>）、<a
            href="https://quote.eastmoney.com/sh600036.html">预测 ROE （亿牛网）</a>
        <br>
        价值 = PE（TTM）/ （五年平均 ROE * 0.7 + 预测 ROE * 0.3）
    </div>
    <div class="small-font">
        美股数据：<a href="https://finance.yahoo.com/">Yahoo! Finance</a>
        <br>
        价值 =（Trailing P/E * 0.7 + Forward P/E * 0.3）/ Return on Equity (ttm)
        <br>
        当前 Trailing Forward P/E 为 N/A，则取最近几季度
    </div>
    <br>
    <div class="small-font">
        <span class="low">价值 &lt {{ .Alert.Low }} 低估</span>
    </div>
    <div class="small-font">
        <span class="middle">{{ .Alert.Low }} &lt 价值 &lt {{ .Alert.High }} 适中</span>
    </div>
    <div class="small-font">
        <span class="high">价值 &gt {{ .Alert.High }} 高估</span>
    </div>
    <br>
    <div class="small-font">
        A 股数据更新：{{ timeFormat .StocksCalcCHTime }}
        <br>
        美股数据更新：{{ timeFormat .StocksCalcUSTime }}
    </div>
    <table>
        <tr>
            <td>序号</td>
            <td>代码</td>
            <td>名称</td>
            <td>价格</td>
            <td>价值</td>
            <td>ROE</td>
            <td>PE</td>
            <td>PB</td>
            <td>股息</td>
            <td>邮件提醒</td>
            <td>删除</td>
        </tr>
        {{ range $i,$v := .Stocks }}
        <tr class="{{ $v.ValueCSS }}">
            <td>{{ floatIndex $i }}</td>
            <td>{{ $v.Ticker }}</td>
            <td>
                <a href="{{ $v.URL }}">{{ $v.Name }}</a>
            </td>
            <td>
                <a href="{{ url $v.Ticker $v.CHUS `price` }}">{{ $v.Price }}</a>
            </td>
            <td>{{ floatFormat $v.Value }}</td>
            <td>
                <a href="{{ url $v.Ticker $v.CHUS `roe` }}">{{ floatFormat $v.ROE }}</a>
            </td>
            <td>
                <a href="{{ url $v.Ticker $v.CHUS `pe` }}">{{ floatFormat $v.PE }}</a>
            </td>
            <td>
                <a href="{{ url $v.Ticker $v.CHUS `pb` }}">{{ floatFormat $v.PB }}</a>
            </td>
            <td>
                <a href="{{ url $v.Ticker $v.CHUS `dividend` }}">{{ $v.Dividend }}</a>
            </td>
            <td>
                <form action="?ticker={{ $v.Ticker }}&option=alertmail" method="POST">
                    <button onclick="updateResult()">{{ alertMailFormat $v.AlertMail }}</button>
                </form>
            </td>
            <td>
                <form action="?ticker={{ $v.Ticker }}&option=del" method="POST">
                    <button onclick="updateResult()">删除</button>
                </form>
            </td>
        </tr>
        {{ end }}
    </table>
</body>

</html>
